asgiref
attrs
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-appconf
django-cors-headers
django-cryptography
django-environ
django-health-check
djangorestframework
djangorestframework_simplejwt
djoser
dnspython
drf-spectacular
idna
inflection
oauthlib
pycparser
PyJWT
python3-openid
pytz
PyYAML
referencing
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
django-health-check